.divCard{
    
    width: 300px;
    height: 300px;
}

.name {
    position: absolute;
    color: #bbedfa;
    font-size: medium;
    padding-top: 10px;
    
} 
.image {
    margin-right: 10px;
    margin-top: 10px;
    width: 250px;
    height: 250px;
    position: relative;
}

.botonCard {
    background-color: red;
    position: inherit;
    padding: 8px;
    border-radius:30px;

}