.divCard{
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 230px;
    height: 250px;
}

.name {
    background-color: #242c3b;
    color: #bbedfa;
    font-size: medium;
    width: 100px;
    height: 25px; 
    margin: auto;
    text-decoration: none;
} 
.image {
    border-radius: 20px;
    width: 200px;
    height: 200px; 
}

.botonCard {
    background-color: red;
    padding: 8px;
    border-radius:30px;
    width: 30px;
    height: 30px;

}

.clickFav {
    border-radius:30px;
}