.botonNav {
    height: 35px;
    width: 100px;
    margin-left: 5px;
    background-color: #242c3b;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    font-family: cursive;
    cursor: pointer;
}

.divNav{
    background-color: #bbedfa;
    height: 80px;
}